$blue: #298EB2
$pink: #EB008B

body
    background-color: #202020
    color: #fff
    font-family: 'futura', 'arial', 'helvetica neue', 'helvetica', verdana, sans-serif
    font-weight: 300
    
#wrap
    width: 960px
    margin: 0 auto
    //background-color: #fff
    
h1
    font-family: 'League Gothic'
    text-transform: uppercase
    font-size: 120px
    color: #fff
    text-align: center
    margin-bottom: 30px
    margin-top: 50px
    padding-bottom: 10px
    border-bottom:  4px solid $blue
    
    
    span
        &:first-child
            color: $pink
                        
        color: $blue
        

#progress_bar_container
    ul
        margin: 40px auto !important


#bar_description
    font-size: 20px
    margin-bottom: 20px
    text-align: center
    
form
    ul
        list-style-type: none
        width: 720px
        margin: 0 auto
        
        li
            display: block
            margin-bottom: 15px
            
    #list-id-block
        label
            &:first-child, &:nth-child(4)
                text-transform: uppercase
                width: 230px
                display: inline-block
                color: $blue
                
            &:nth-child(4)
                display: block
        
