body {
  background-color: #202020;
  color: white;
  font-family: futura, futura-pt-1, futura-pt-2, "arial", "helvetica neue", "helvetica", verdana, sans-serif;
  font-weight: 300; }

#wrap {
  width: 960px;
  margin: 0 auto; }

h1 {
  font-family: "League Gothic", league-gothic-1, league-gothic-2, sans-serif;
  text-transform: uppercase;
  font-size: 120px;
  color: white;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 50px;
  padding-bottom: 10px;
  border-bottom: 4px solid #298eb2; }
  h1 span {
    color: #298eb2; }
    h1 span:first-child {
      color: #eb008b; }

#progress_bar_container ul {
  margin: 40px auto !important; }

#bar_description {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center; }

form ul {
  list-style-type: none;
  width: 720px;
  margin: 0 auto; }
  form ul li {
    display: block;
    margin-bottom: 15px; }
form #list-id-block label:first-child, form #list-id-block label:nth-child(4) {
  text-transform: uppercase;
  width: 230px;
  display: inline-block;
  color: #298eb2; }
form #list-id-block label:nth-child(4) {
  display: block; }
form .progress_bar-classes-block {
  position: relative; }
  form .progress_bar-classes-block label {
    text-transform: uppercase;
    width: 230px;
    display: inline-block;
    color: #298eb2;
    vertical-align: top; }
  form .progress_bar-classes-block p {
    position: absolute;
    width: 200px;
    top: 30px;
    left: 0;
    font-size: 14px;
    line-height: 150%; }
form #stylesheet-type-block label:first-child {
  text-transform: uppercase;
  width: 230px;
  display: inline-block;
  color: #298eb2; }
form #colors-block ul li {
  display: block; }
  form #colors-block ul li label {
    text-transform: uppercase;
    width: 230px;
    display: inline-block;
    color: #298eb2; }
form .output-block label {
  text-transform: uppercase;
  width: 230px;
  display: inline-block;
  color: #298eb2;
  vertical-align: top; }
form .output-block textarea {
  width: 484px; }

section {
  width: 720px;
  border-top: 4px solid #298eb2;
  padding-top: 20px;
  padding-bottom: 40px;
  margin: 30px auto 0; }
  section h3 {
    font-family: "League Gothic", league-gothic-1, league-gothic-2, sans-serif;
    font-size: 50px;
    margin-bottom: 20px;
    font-weight: 200; }
  section h4 {
    font-family: "League Gothic", league-gothic-1, league-gothic-2, sans-serif;
    font-size: 35px;
    font-weight: 200;
    letter-spacing: 1px;
    padding-bottom: 20px; }
  section p {
    padding-bottom: 30px;
    font-size: 18px; }
  section span {
    color: #eb008b; }
  section a {
    color: #298eb2; }
  section ul {
    padding-left: 15px; }
    section ul li {
      padding-bottom: 15px;
      font-size: 16px; }

#from_andyet {
  background: none repeat scroll 0 0 white;
  bottom: 0;
  padding: 3px 10px;
  position: fixed;
  right: 17px; }
  #from_andyet h2 {
    background-image: url("../images/from_&yet.png");
    background-repeat: no-repeat;
    height: 29px;
    line-height: 0;
    margin-top: 0;
    text-indent: -9999em;
    width: 79px; }
