
/* Progress Bar default styling */
#progress_bar {
  display: block;
  width: 740px;
  height: 25px;
  background-color: #747474;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 30px;
  font-family: "museo-slab-1", "museo-slab-2", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  color: white;
  position: relative; }
  #progress_bar:before {
    display: block;
    width: 740px;
    height: 12px;
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 0px;
    left: 0px;
    content: "";
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 400; }
  #progress_bar:after {
    display: block;
    width: 740px;
    height: 25px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    position: absolute;
    top: 0px;
    left: 0px;
    content: "";
    -moz-box-shadow: inset 0 0 5px #343434;
    -webkit-box-shadow: inset 0 0 5px #343434;
    box-shadow: inset 0 0 5px #343434;
    z-index: 500; }
  #progress_bar li {
    display: inline-block;
    width: 120px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    height: 15px; }
    #progress_bar li:first-child {
      -webkit-border-top-left-radius: 10px;
      -webkit-border-bottom-left-radius: 10px;
      -moz-border-radius-topleft: 10px;
      -moz-border-radius-bottomleft: 10px;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px; }
    #progress_bar li:last-child {
      -webkit-border-top-right-radius: 10px;
      -webkit-border-bottom-right-radius: 10px;
      -moz-border-radius-topright: 10px;
      -moz-border-radius-bottomright: 10px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px; }
    #progress_bar li:after {
      width: 0px;
      height: 0px;
      display: block;
      border: 13px solid transparent;
      border-left: 13px solid white;
      position: absolute;
      top: 0px;
      left: 121px;
      content: "";
      z-index: 200; }
    #progress_bar li:last-child:before {
      border: none; }
    #progress_bar li:before {
      width: 0px;
      height: 0px;
      display: block;
      border: 13px solid transparent;
      border-left: 13px solid #747474;
      position: absolute;
      top: 0px;
      left: 118px;
      content: "";
      z-index: 300; }
    #progress_bar li:last-child:after {
      border: none; }

.step_one li:first-child {
  background-color: #5aabcf; }
  .step_one li:first-child:before {
    border-left: 13px solid #5aabcf !important; }

.step_two li:first-child {
  background-color: #417e9a; }
  .step_two li:first-child:before {
    border-left: 13px solid #417e9a !important; }
.step_two li:nth-child(2) {
  background-color: #5aabcf; }
  .step_two li:nth-child(2):before {
    border-left: 13px solid #5aabcf !important; }

.step_three li:nth-child(-n+2) {
  background-color: #417e9a; }
  .step_three li:nth-child(-n+2):before {
    border-left: 13px solid #417e9a !important; }
.step_three li:nth-child(3) {
  background-color: #5aabcf; }
  .step_three li:nth-child(3):before {
    border-left: 13px solid #5aabcf !important; }

.step_four li:nth-child(-n+3) {
  background-color: #417e9a; }
  .step_four li:nth-child(-n+3):before {
    border-left: 13px solid #417e9a !important; }
.step_four li:nth-child(4) {
  background-color: #5aabcf; }
  .step_four li:nth-child(4):before {
    border-left: 13px solid #5aabcf !important; }

.step_five li:nth-child(-n+4) {
  background-color: #417e9a; }
  .step_five li:nth-child(-n+4):before {
    border-left: 13px solid #417e9a !important; }
.step_five li:nth-child(5) {
  background-color: #5aabcf; }
  .step_five li:nth-child(5):before {
    border-left: 13px solid #5aabcf !important; }

.step_six li:nth-child(-n+5) {
  background-color: #417e9a; }
  .step_six li:nth-child(-n+5):before {
    border-left: 13px solid #417e9a !important; }
.step_six li:nth-child(6) {
  background-color: #5aabcf; }

 /* Form Styles */
.progress_bar-id-type-label {
    display: inline-block;
    width: 5em;
} 
.progress_bar-id-type-label:after {
    content: attr(title); 
 }

div, form {
    padding:  1em;
}